page-login {

@charset "utf-8";
*,*:after,*:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
body{font-family: Arial,sans-serif; padding: 0; margin: 0; background: url('assets/imgs/login-bg.jpg') no-repeat fixed center top / cover  transparent}
.gyan-text{position: absolute; top: 10%; left: 0; right: 0; margin: auto;}
.login-box{position: absolute; top: 40%; width: 100%; max-width: 480px; left: 0; right: 0; margin: auto;}
.logo{text-align: center; margin-bottom: 30px;}
input{display: block;}
.text-field{height: 34px; width: 100%; border-radius: 20px; border: 1pt solid #ddd; padding-left: 10px; color: #727272; font-size: 18px;margin-top: 12px;}
.login-form{text-align: center; padding: 0 20px;}
input::placeholder{color: #727272; font-size: 18px;}
.login-btn{background: #8c000d; color: #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.5); border: 0; padding: 10px 43px; float: right; margin-top: 20px; border-radius: 4px;}
.content-body{
	font-family: Arial,sans-serif; padding: 0; margin: 0; background: url('../assets/imgs/login-bg.jpg') no-repeat fixed center top / cover  transparent
}
}
